picture {
  width: 345px;
}
img {
  width: 100%;
}
.grid-film {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 250px;
}
.grid-trailer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
iframe {
  width: 540px;
  height: 315px;
  border-radius: 10px;
}
.container-carrusel {
  margin: 0 auto;
}
.grid-argument {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cast {
  width: 7%;
}
.argument {
  text-align: justify;
}
